$white: #fff;
$black: #000;

$primary: #fede33;
$visitorBox: #e1ffcf;

$passBg: #fffce6;
$passTopBoxBg: #bcffb7;

$loginPageTitle: #0c1421;
$loginPageSubtitle: #313957;
$customButtonColor: #00e785;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");

$outfit: "Outfit", sans-serif;
